* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "montserrat";
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.foot {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 40px;
}

.india {
    margin-left: 55px;
    height: 60px;
}

.card {
    max-width: 91vw;
    margin: 37px;
    float: left;
}

.op {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    border-radius: 6px
}
.and{
    font-family: "montserrat";
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.card1:hover{
    height: 155px;
    width: 212px;
}